body {
  background-color: black;
}
.middle-content {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 45px 0 145px 0;
}
.middle-content .md-logo {
  margin-bottom: 145px;
}
.middle-content h1 {
  font-family: 'Dosis', sans-serif;
  font-size: 60px;
  color: #ffffff;
  font-weight: 400;
  text-transform: none;
  margin-top: 30px;
  margin-bottom: 60px;
}
.middle-content .redbtn {
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}


.redbtn {
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  color: #abb7c4;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #dd003f;
  color: #ffffff;
  padding: 13px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}