/* CAROUSEL */
.carousel, .carousel-container, .carousel-slide, .carousel-item, .carousel-inner {
    width: 100%;
    height: 100%;
    background-position:center center;
}

.carousel-item {
    background-size: cover;
    height: 100vh;
}

.carousel-item__color {
  
  background: linear-gradient(180deg, rgba(22,22,22,0.2) 0%, rgb(22,22,22,0.96) 50%, rgb(22,22,22,0.99) 75%, rgba(22,22,22,1) 100%);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.carousel-caption {
  justify-content: center;
  align-items: center;
  top: 60%;
  transform: translateY(-60%);
  bottom: initial;
}

.carousel-caption > img {
  max-width: 25%;
}

.carousel-item__description {
  padding-left: 30px;
  width: 40%;
  text-align: left;
}

.carousel-item__description > p, .carousel-item__description > div {
  margin: 5px 0;
}

.carousel-item__title1, .carousel-item__title2, .carousel-item__title3 {
  font-size: 2rem;
}

.carousel-item__date1, .carousel-item__date2, .carousel-item__date3 {
  font-size: 0.95em;
  margin: 10px 0;
}

.carousel-item__genres1, .carousel-item__genres2, .carousel-item__genres3 {
  font-size: 0.8em;
}

.carousel-item__overview1, .carousel-item__overview2, .carousel-item__overview3 {
  font-size: 0.90em;
  line-height: 1.2;
}

.rating_wrapper {
  display: flex;
  align-items: center;
}

.carousel-item__icon {
  width: 4%;
}

.carousel-item__rating1, .carousel-item__rating2, .carousel-item__rating3 {
  font-size: 0.7em;
}

.carousel-item__trailer-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.carousel-item__in-theaters {
  background-color: #be1313;
  color: white;
  font-size: 0.9em;
}

.carousel-item__trailer-button1, .carousel-item__trailer-button2, .carousel-item__trailer-button3 {
  width: 35%;
  height: auto;
  padding: 5px;
  background-color: transparent;
  color: #ffd000;
  font-size: 0.7rem;
  border: 2px solid #ffd000;
  border-radius: 10%;
  margin-top: 10px;
  text-transform: uppercase;
}


.carousel-item__trailer-button1:hover, .carousel-item__trailer-button2:hover, .carousel-item__trailer-button3:hover {
  background-color: #be1313;
  border: 2px solid #be1313;
  color: white;
  transition:  1s;
  opacity: 80%;
}

.carousel-item__trailer-theater {
  padding: 5px;
  background-color: transparent;
  color: #ff3e3e;
  font-size: 0.7rem;
  text-transform: uppercase;
  border-radius: 10%;
  margin-top: 10px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 1024px) {

  /* CAROUSEL */
  .carousel-item {
    height: 50vh;
  }

  .carousel-caption > img {
    max-width: 30%;
  }

  .carousel-item__description {
    width:100%;
  }
  

}

@media only screen and (max-width: 600px) {

  /* CAROUSEL */

  .carousel-item {
    height: 100vh;
  }

  .carousel-caption {
    flex-direction: column;
  }

  .carousel-caption > img {
    max-width: 70%;
  }

  .carousel-item__description {
    width: 100%;
    padding: 5% 15%;
  }

  .carousel-item__title1, .carousel-item__title2, .carousel-item__title3 {
    font-size: 1.2rem;
  }

  .carousel-item__description > p {
    font-size: 0.75rem;
  }

  .carousel-item__rating1, .carousel-item__rating2, .carousel-item__rating3 {
    font-size: 0.6em;
  }

  .carousel-item__trailer-button1, .carousel-item__trailer-button2, .carousel-item__trailer-button3 {
    max-width: 70%;
    font-size: 0.55rem;
  }
  
  .carousel-item__trailer-theater {
    font-size: 0.55rem;
  }

}