/* FILTER NAVBAR STYLES */

#filter-bar-nav {
    background: rgb(22, 22, 22);
    color: rgb(145, 145, 145);
    font-weight:500;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0;
    font-size: 0.9rem;
}

.filter-bar__list {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.filter-bar__list > li {
    padding: 5px 5px;
    margin-left:5px;
    border-bottom: 3px solid transparent;
    text-transform: uppercase;
    transition: border-bottom 1.5s;
}

.filter-bar__list > li:hover {
    color: white;
    border-bottom: 3px solid rgb(190, 190, 190);
    transition:  1.5s;
}

.filter-bar__value {
    visibility: hidden;
    border-radius: 5px;
    border: 2px solid rgb(145, 145, 145);
    background-color: transparent;
    color: white;
}

.filter-bar__value::placeholder {
    color: rgb(145, 145, 145);
    font-weight: bold;
}

.filter-bar__value:focus::placeholder {
    color: transparent;
    border: none;
}

.show-search-input {
    visibility: visible;
}

.list-item__selected {
    color: white;
    border-bottom: 3px solid rgb(190, 190, 190) !important;
}

/* sticky navbar*/

#nav-wrapper {
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* MOVIE CONTAINER STYLES */

#container_wrapper {
    margin: 5%;
    color:white;
}

.inactive {
    display: none;
}

.filter-bar__filter {
    padding: 5px 5px;
    margin-right:5px;
    border-bottom: 3px solid transparent;
    text-transform: uppercase;
    transition: border-bottom 2.5s;
}

.filter-bar__filter:hover {
    color: white;
    border-bottom: 3px solid rgb(190, 190, 190);
    transition:  2s;
}

option[default] {
    display: none;
}

.filter-search-nav {
    display: none;
    justify-content: center;
    align-items: center;
    color: rgb(145 145 145);
    width: 100%;
    background-color: #2f2f2f;
}

.filter-search-nav__list {
    display: flex;
    padding: 15px;
}

.filter-search-nav__list > li {
    margin-right: 15px;
}

#filter-nav__movie-year, #filter-nav__genre, #filter-nav__rating, #filter-nav__sort {
    width: 100px;   
    height: 29px;
    border-radius: 5px;
    background-color: rgb(145, 145,145);
    border: 2px solid rgb(145, 145,145);
    color:black;
    font-weight: bold;
}

.filter-nav__search-btn {
    height: 29px;
    width: 80px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #ffd000;
    color: #ffd000;
    margin-right: 15px;
}

.filter-nav__search-btn:hover {
        
}

.filter-nav__random-btn {
    height: 29px;
    width: auto;
    background-color: #be1313;
    border-radius: 5px;
    border: 1px solid #be1313;
    color: white;;
    margin-right: 15px;
}

.filter-nav__random-btn:hover {
    
}

/* MEDIA QUERIES  */
@media only screen and (max-width: 600px) {

    .responsive-flex {
        display: flex;
        align-items: center;
        margin: 20px 5px !important;
        width: auto !important;
    }

    .responsive-flex > div {
        margin-left: 10px;
    }
    
}
