/* MODAL */
.modal-wrapper {
  display: none;
  position: fixed;
  z-index: 98;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  margin: auto;
  width: 50%;
  height: auto;
}

.modal-content__background {
  display: block;
  background-size: cover;
}

/* The Close Button */
.close {
  color: white;
  align-self: flex-end;
  font-size: 2.2rem;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content__poster-wrapper img {
  width: 250px;
}

.modal-content__details-wrapper {
  display: flex;
  margin: 5px;
}

.modal-content__description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #000;
  opacity: 85%;
  padding: 20px 10px 30px 30px;
}

.modal-content__title {
  font-size: 1.8rem;
  color: #FFD000;
}

.modal-content__year {
  color: #FFD000;
  font-size:0.9rem;
}

.modal-content__genres {
  font-size:0.8rem;
  color: white;
}

.modal-content__rating-wrapper {
  display: flex;
  align-items: center;
  font-size:0.75rem;
  color: white;
}

.modal-content__overview {
  color: white;
  font-size:0.8rem;
  line-height: 1.2;
}

.modal-content__trailer-button {
  margin: 10px 0;
  color: #FFD000;
  border: 2px solid #FFD000;
  background-color: transparent;
  width: 33%;
  height: 25px;
  border-radius: 10%;
  font-size: 0.6rem;
  text-transform: uppercase;
  padding: 0 10px;
}

.modal-content__trailer-button:hover {
  background-color: #BE1313;
  border: 2px solid #BE1313;
  color: white;
  transition:  1s;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 1024px) {

  /* MODAL CONTENT */
  .modal-content {
    width: 90%;
  }

  .modal-content__poster-wrapper img {
    max-width: 200px;
  }

}

@media only screen and (max-width: 600px) {

  .modal-wrapper {
    padding: 15% 0;
    background: rgba(22,22,22,1);
    align-items: center;
  }
  
  .modal-content__details-wrapper {
    flex-direction: column;
    align-items: center;
    background-color: #000;
    opacity: 85%;
  }

  .close {
    position: absolute;
    top: 4%;
    right: 5%;
  }

}